@model List<TFCLPortal.Students.Student>

@{
    ViewData["Title"] = "ViewStudents";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>View Students List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(Model!=null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Age
                </th>
                <th>
                    Name
                </th>
                <th>
                    Class
                </th>
                @*<th>
                    IsDeleted
                </th>
                <th>
                    DeleterUserId
                </th>
                <th>
                    DeletionTime
                </th>
                <th>
                    LastModificationTime
                </th>
                <th>
                    LastModifierUserId
                </th>
                <th>
                    CreationTime
                </th>
                <th>
                    CreatorUserId
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeleterUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletionTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModificationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifierUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorUserId)
                    </td>*@q
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1>No Items Found</h1>
}
