@model List<TFCLPortal.Applications.Applicationz>
@{ int i = 0;}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                BCC Approved Applications
            </h4>
            <h6 class="page-title-breadcrumbs">
                <a href="~/Dashboard/Dashboard">Home</a> > Management Committee  > BCC Approved Applications
            </h6>
        </div>
        <div class="col-md-6 text-right">
            @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
            <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
        </div>
    </div>
    <div class="card p-10 mB-20">
        @*<p>
                <a asp-action="Create">Create New</a>
            </p>*@
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Sr
                    </th>
                    <th>
                        CLIENT ID
                    </th>
                    <th>
                        APPLICANT / RESPONDENT NAME
                    </th>
                    <th>
                        Client / School / Business Name
                    </th>

                    <th colspan="1">
                        Action
                    </th>
                    <th colspan="3">
                        Details
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td> @{i = i + 1;} @i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>

                    <td>
                        <a onclick="if (confirm('Are you sure?')) { window.location.href = '@Url.Action("CreateMC", "ManagmentCommitteeDecisions", new { Id = item.Id })'; }"><i class="fa fa-check-circle"></i> Approve </a>
                        @*<a asp-action="CreateMC" asp-route-id="@item.Id" onclick="confirm('Are You Sure?');"><i class="fa fa-check-circle"></i> Approve </a>*@
                    </td>
                    <td>
                        <a href="/Dashboard/Application?id=@item.Id" target="_blank"><i class="fa fa-search"></i> View Details</a>
                    </td>
                    <td>
                        <a href="/McrcDecisions/Index?ApplicationId=@item.Id" target="_blank"><i class="fa fa-comment"></i> MCRC Decisions</a>
                    </td>
                    <td>
                        <a href="/BCCDecisions/Index?ApplicationId=@item.Id" target="_blank"><i class="fa fa-comment"></i> BCC Decisions</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</main>