@model List<TFCLPortal.Applications.ApplicationDto>
@{
    int i = 0;
}

@{
    ViewData["Title"] = "Funding Source";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<style>
    .select2 {
        width: 100% !important;
    }

    .select2-selection__rendered {
        text-transform: uppercase;
    }

    .select2-results__option {
        text-transform: uppercase;
    }

    .pageloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/Theame/images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .8;
    }
</style>
<!-- ### $App Screen Content ### -->
<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="pageloader d-none"></div>

    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                Funding Source
            </h4>
            <h6 class="page-title-breadcrumbs">
                <a href="~/Dashboard/Dashboard">Home</a> > Accountant Operations > Funding Source
            </h6>
        </div>
        <div class="col-md-6 text-right">
            @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
            <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
        </div>
    </div>
    <div class="card p-10 mB-20 mT-20">
        @*<p>
        <a asp-action="Create">Create New</a>
        </p>*@
        <div class="row">
            <div class="col-md-4">
                <p class="detailHeading">
                    Client ID
                </p>
                <select id="ClientId" class="form-control select2 ">
                    <option value="">Select Client ID</option>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <option value="@item.ClientID">@item.ClientID</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-4">
                <p class="detailHeading">
                    CNIC number
                </p>
                <select id="CNICNo" class="form-control select2">
                    <option value="">Select CNIC</option>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <option value="@item.CNICNo">@item.CNICNo</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-4">
                <p class="detailHeading">
                    Applicant Name
                </p>
                <select id="ApplicantName" class="form-control select2">
                    <option value="">Select Applicant Name</option>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <option value="@item.ApplicantName">@item.ApplicantName</option>
                        }
                    }
                </select>
            </div>


            @*<div class="col-md-3 pt-4">
            <a class="btn btn-outline-warning btn-sm dis-inline" onClick="window.location.reload();" style="width:100%">Clear Filter</a>
            </div>*@

        </div>

        <div class="row resultDiv d-none" style=" margin-top: 20px; ">
            <div class="col-md-2">
                <p class="detailHeading">Client ID</p>
                <p class="detailText" id="selectedClientId">--</p>
            </div>
            <div class="col-md-2">
                <p class="detailHeading">CNIC</p>
                <p class="detailText" id="selectedCnic">--</p>
            </div>
            <div class="col-md-3">
                <p class="detailHeading">Applicant Name</p>
                <p class="detailText" id="selectedApplicant">--</p>
            </div>
            <div class="col-md-2">
                <p class="detailHeading">Funding Source</p>
                <p class="detailText" id="selectedFundingSource">--</p>
            </div>
            <div class="col-md-3">
                <p class="detailHeading">GL Code</p>
                <p class="detailText" id="selectedGLCode">--</p>
            </div>

            <div class="col-md-4 mt-5">
                <p class="detailHeading">
                    Funding Source
                </p>
                @*<select id="" class="form-control select2">
                <option value="">Select Funding Source</option>
                @if (Model != null)
                {
                foreach (var item in Model)
                {
                <option value="@item.CNICNo">@item.CNICNo</option>
                }
                }
                </select>*@
                @Html.DropDownListFor(x => x.First().FundingSource, ViewBag.sourcesList as SelectList, "Select Funding Source", new { @class = "form-control text-capitalize select2" })


            </div>
            <div class="col-md-3 mt-5">
                <p class="detailHeading">Enter GL Code</p>
                <input id="GLCode" name="GLCode" type="number" maxlength="11" class="form-control" placeholder="Enter GL Code" />
            </div>

            <div class="col-md-3 mt-5">
                <a onclick="SaveFundingSource();" class="btn btn-outline-success mt-4 w-20">Save Data</a>
            </div>

        </div>
 
        <div class="row">
            <div class="col-md-12">
                <div class="card p-10 mB-20">
                    @*<p>
                    <a asp-action="Create">Create New</a>
                    </p>*@
                    <table id="dataTable" class="table table-striped table-bordered  table-scrollable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Sr
                                </th>
                                <th>
                                    CLIENT ID
                                </th>
                                <th>
                                    APPLICANT / RESPONDENT NAME
                                </th>
                                <th>
                                    Client / School / Business Name
                                </th>
                                <th>Funding Source</th>
                                <th>GL Code</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{
                                            i = i + 1;
                                        } @i
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClientID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicantName)
                                    </td>
                                    <td>
                                        @(item.SchoolName == "" || item.SchoolName == null ? "--" : item.SchoolName)
                                    </td>
                                    <td>
                                        @(item.FundingSourceName == "" || item.FundingSourceName == null ? "--" : item.FundingSourceName)
                                    </td>
                                    <td>
                                        @(item.GLCode == "" || item.GLCode == null ? "--" : item.GLCode)
                                        </td>
                                    @*<td>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list"></i> Details</a>
                                </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    $('.select2').select2();

    //var ClientIdglobal = "";


    $('#ApplicantName').on('change', function () {
        if (this.value != "") {
            search("ApplicantName", this.value);

        }
    });
    $('#CNICNo').on('change', function () {
        if (this.value != "") {
            search("CNICNo", this.value);

        }
    });

    $('#GLCode').on('input', function (e) {
        var code = $('#GLCode').val();
        //alert(code.length);

        if (code.length <= 0 || code.length > 11) {
            //alert('Not Acceptable');

            $('#GLCode').val(code.substring(0,11));

            return false;
        }


    });

    $('#ClientId').on('change', function () {
        if (this.value != "") {
            search("ClientId", this.value);

        }
    });

    function setGLCode(clientid) {


        if (clientid.indexOf('TSA') >= 0) {
            $("#GLCode").val("0270005");
        }
        else if (clientid.indexOf('TSS') >= 0) {
            $("#GLCode").val("0270010");
        }
        else if (clientid.indexOf('TJS') >= 0) {
            $("#GLCode").val("0270015");
        }
        else if (clientid.indexOf('TDS') >= 0) {
            $("#GLCode").val("0270025");
        }
    }

    $('#ClientId').on('change', function () {

    });


    var appid = 0;


    function search(filter, value) {

        var items = @Html.Raw(Json.Serialize(Model));

        var ApplicationID = 0;
        var CNIC = "";
        var ApplicantName = "";
        var ClientId = "";
        var fSource = "";


        if (filter == "ClientId") {
            items.forEach(function (item, index) {
                if (item.clientID == value) {
                    ApplicationID = item.id;
                    CNIC = item.cnicNo;
                    ClientId = item.clientID;
                    ApplicantName = item.applicantName;
                    fSourceName = item.fundingSourceName;
                    fSource = item.fundingSource;

                }
            });
        }
        else if (filter == "CNICNo") {
            items.forEach(function (item, index) {
                if (item.cnicNo == value) {
                    ApplicationID = item.id;
                    CNIC = item.cnicNo;
                    ClientId = item.clientID;
                    ApplicantName = item.applicantName;
                    fSource = item.fundingSource;
                    fSourceName = item.fundingSourceName;

                }
            });
        }
        else if (filter == "ApplicantName") {
            items.forEach(function (item, index) {
                if (item.applicantName == value) {
                    ApplicationID = item.id;
                    CNIC = item.cnicNo;
                    ClientId = item.clientID;
                    ApplicantName = item.applicantName;
                    fSource = item.fundingSource;
                    fSourceName = item.fundingSourceName;

                }
            });
        }
        else {
            ApplicationID = 0;
            CNIC = "--";
            ClientId = "--";
            ApplicantName = "--";
            fSourceName = "--";
            fSource = 0;

        }

        //$(".select2").prop('selectedIndex',0);

        $("#selectedClientId").text(ClientId);
        $("#selectedCnic").text(CNIC);
        $("#selectedApplicant").text(ApplicantName);
        $("#selectedFundingSource").text(fSourceName);
        //if ($("#selectedClientId").val() == $()   )
        //if ( $("#selectedClientId:contains('TSS-')")
        //{
        //    $("#GLCode").val("020700");
        //}
        // $("#selectedGLCode").text(GCode);
        //alert(fSource);

        //$('#select2-FundingSource-container').val(fSource).trigger('change');

        setGLCode(ClientId);

        $(".resultDiv").removeClass('d-none');

        appid = ApplicationID;
    }


    function SaveFundingSource() {

        var fsource = $("#FundingSource").val();
        var code = $('#GLCode').val();
        //if ($("#selectedClientId:contains('TSS-')")
        //   {
        //         $("#GLCode").val("020700");
        //   }

        if (fsource.length == 0) {
            fsource = 0;
        }

        if(code.length<11)
        {
            alert('GL Code should be of 11 digits')
            return false;
        }


        var GLCode = document.getElementById("GLCode").value;
        var ApplicationId = appid;

        $(".pageloader").toggleClass("d-none");

        $.ajax({
            type: 'POST',
            datatype: "json",
            contenttype: 'application/json; charset=utf-8',
            url: '@Url.Content("~/Accountant/SaveFundingSource")',
            data: {
                'ApplicationId': ApplicationId,
                'fsource': fsource,
                'GLCode': GLCode
                //GLCode: $("#GLCode").val()

            },
            success: function (data) {

                var returnData = data.result;
                abp.notify.success(returnData, "Success");
                window.location.reload();

            },
            error: function (data) {

                abp.notify.error("Some error occure contact with admin..!", "error");
                console.log(data);
            }
        });


    }




</script>
