@model IEnumerable<TFCLPortal.PaymentChargesDeviationMatrix.Dto.CreatePaymentChargesDeviationMatricDto>


@{
    
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>LoanType</h2>

<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <div class="row card p-10 mB-20">
                            <h4>Loan Type</h4>
                            <div style="text-align: right; float: right;width: 100%;position:absolute;">
                                <a href="~/Application/ApplicationDashboard" class="btn btn-danger bg1 eft-1" title="Back">Back<span></span></a>
                            </div>
                        </div>
                        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Loan Type")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Max Amount")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Perentage")
                                    </th>
                                    <th>Edit</th>


                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaxAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Percentage)
                                            </td>
                                            <td>
                                                <a asp-action="UpdateProduct"  class="edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i></a>  @*asp-route-id="@item.Id"*@

                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>