@model TFCLPortal.WriteOffs.Dto.CreateWriteOff

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<style>
    .pageloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/Theame/images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
        opacity: .8;
    }
</style>

<main class='main-content bgc-grey-100' style="padding-top:50px">
    <div class="row page-title">
        <div class="col-md-6 text-left">
            <h4 class="page-title-text">
                Write Off Loan
            </h4>
            <h6 class="page-title-breadcrumbs">
                <a href="~/Dashboard/Dashboard">Home</a> > Accountant Operations > Loan Recovery > Write Off Loan
            </h6>
        </div>
        <div class="col-md-6 text-right">
            @*<button class="btn btn-sm btn-outline-success" onclick="$('#filterForm').toggle();"><i class="fa fa-filter"></i> Filter Records</button>*@
            <a href="~/Dashboard/Dashboard" class="btn btn-sm btn-outline-success bg1 eft-1" title="Back"><i class="fa fa-angle-double-left"></i> Back To Home </a>
        </div>
    </div>
    <div class="card p-10 mB-20">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <div class="pageloader d-none"></div>
            <form asp-action="CreateWriteOff" method="post" enctype="multipart/form-data">
                <div class="row">
                    <input asp-for="ApplicationId" type="hidden" id="ApplicationId" value="@ViewBag.Applicationid" />

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Client ID</label>
                            <input type="text" value="@ViewBag.ClientId" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Applicant Name</label>
                            <input type="text" value="@ViewBag.ClientName" readonly="readonly" class="form-control text-uppercase" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>O/S Principal Amount</label>
                            <input asp-for="OsPrincipalAmount" value="@ViewBag.OsPrincipalAmount" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>O/S Markup Amount</label>
                            <input asp-for="OsMarkupAmount" value="@ViewBag.OsMarkupAmount" readonly="readonly" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Total Amount Payable (Rs)</label>
                            <input asp-for="TotalAmountPayable" readonly="readonly" value="@(string.Format("{0:#,##0}", ViewBag.TotalPayable))" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Recovery Status</label>
                            @Html.DropDownList("RecoveryStatus", new List<SelectListItem> { new SelectListItem { Text = "Partial Recovery" },new SelectListItem { Text = "Full Settlement" },new SelectListItem { Text = "Settlement With WO Amount", Selected=true } }, "Select Recovery Status", htmlAttributes: new { @class = "form-control", @required = "required" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Amount Recoverable</label>
                            <input asp-for="TotalAmountPayableRebate" type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Off Amount Mark-up</label>
                            <input asp-for="WriteOffAmountMarkup" value="0" readonly="readonly" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Off Amount Principal</label>
                            <input asp-for="WriteOffAmountPrincipal" value="0" readonly="readonly" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Off %age</label>
                            <input asp-for="RebatePercentage" value="0" readonly="readonly" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Amount Deposited (Rs)</label>
                            <input asp-for="AmountDeposited" value="@(string.Format("{0:#,##0}", ViewBag.Balance))" readonly="readonly" class="form-control" />
                        </div>
                    </div>




                    <div class="col-md-6 text-left">
                        <label><i class="fa fa-file-word-o"></i> Upload Approval Doc</label><br />
                        <input asp-for="File" />
                    </div>


                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-outline-success d-none" id="uploadBtn"><i class="fa fa-upload"></i> Generate Entry</button>
                    </div>


                </div>

            </form>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>

<script>

    $('#uploadBtn').click(function (e) {
        if (!$("#File").val()) {
            alert('Please Select Write Off File');
            e.preventDefault();
        }
        else {
            $(".pageloader").toggleClass("d-none");
        }

        //$('#InnerContent').html("<p class='text-center' ><img width='50px' src='/Theame/images/loader.gif'/> Loading ...</p>");
    });



    $('#TotalAmountPayableRebate').on('input', function (e) {
        var amount = Number(this.value);
        var stringMarkup = $('#OsMarkupAmount').val();

        var OsMarkupAmount = Number(stringMarkup.replaceAll(",", ""));

        //alert('amount : ' + amount);
        //alert('OsMarkupAmount : ' + OsMarkupAmount);


        if (amount < OsMarkupAmount) {
            //abp.notify.error("amount is less than Markup", "error");
            $('#uploadBtn').addClass('d-none');
        }
        else {
            $('#uploadBtn').removeClass('d-none');
        }


        var TotalAmountPayable = Number($('#TotalAmountPayable').val().replaceAll(",", ""));
        var WriteOffAmountMarkup = Number($('#WriteOffAmountMarkup').val().replaceAll(",", ""));


        var WOprincipal = TotalAmountPayable - amount - WriteOffAmountMarkup;
        $('#WriteOffAmountPrincipal').val(WOprincipal);

        var OsPrincipalAmount = Number($('#OsPrincipalAmount').val().replaceAll(",", ""));


        var WOpercentage = (WOprincipal / OsPrincipalAmount) * 100;
        $('#RebatePercentage').val(WOpercentage.toFixed(2));

    });

    function numberWithCommas(x) {
        x = Math.round(x);
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }



</script>